/client/target/classes/application.properties
/client/target/classes/com/consumingrest/ConsumingRestApplication.class
/client/target/consuming-rest-0.0.1-SNAPSHOT.jar.original
/.idea/compiler.xml
/client/target/consuming-rest-0.0.1-SNAPSHOT.jar
/client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/.idea/encodings.xml
/client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/misc.xml
/.idea/modules.xml
/client/target/maven-archiver/pom.properties
/target/maven-archiver/pom.properties
/client/target/classes/com/consumingrest/service/Error/ServiceError.class
/.idea/simple-lottery-client.iml
/target/simple-lottery-consuming-rest-1.0-SNAPSHOT.jar
/client/target/classes/com/consumingrest/domain/SimpleLotteryTicket.class
/client/target/classes/com/consumingrest/domain/SimpleLotteryTicketLine.class
/.idea/vcs.xml
